<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JDBC_task03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DbMigrator</servlet-name>
    <servlet-class>com.trainingcenter.db.flyway.DbMigrator</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <resource-ref>
    <res-ref-name>jdbc/jdbc_task03_db_link</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>jdbcIndexPage</servlet-name>
    <jsp-file>/WEB-INF/pages/jdbcIndexPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcIndexPage</servlet-name>
    <url-pattern>/jdbcindex.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdbcSubmitPage</servlet-name>
    <jsp-file>/WEB-INF/pages/jdbcSubmitPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcSubmitPage</servlet-name>
    <url-pattern>/jdbcSubmit.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdbcAllQuestionsPage</servlet-name>
    <jsp-file>/WEB-INF/pages/jdbcAllQuestionsPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcAllQuestionsPage</servlet-name>
    <url-pattern>/allquestions.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdbcOneQuestionPage</servlet-name>
    <jsp-file>/WEB-INF/pages/jdbcOneQuestionPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcOneQuestionPage</servlet-name>
    <url-pattern>/onequestion.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdbcAddNewQuestionPage</servlet-name>
    <jsp-file>/WEB-INF/pages/jdbcAddNewQuestionPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcAddNewQuestionPage</servlet-name>
    <url-pattern>/addnewquestion.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdbcOneQuestionChangePage</servlet-name>
    <jsp-file>/WEB-INF/pages/jdbcOneQuestionChangePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcOneQuestionChangePage</servlet-name>
    <url-pattern>/changequestion.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdbcOneQuestionDeletePage</servlet-name>
    <jsp-file>/WEB-INF/pages/jdbcOneQuestionDeletePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdbcOneQuestionDeletePage</servlet-name>
    <url-pattern>/deletequestion.html</url-pattern>
  </servlet-mapping>
</web-app>