<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>task04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
   <context-param>
        <param-name>themes.txt</param-name>
        <param-value>e:/Denis/GitHub/task04/themes.txt</param-value>
    </context-param>
    <context-param>
        <param-name>recomendate.doc</param-name>
        <param-value>e:/Denis/GitHub/task04/recomendate.doc</param-value>
    </context-param>
    <context-param>
        <param-name>recomendate.docx</param-name>
        <param-value>e:/Denis/GitHub/task04/recomendate.docx</param-value>
    </context-param>
    <context-param>
        <param-name>recomendate.txt</param-name>
        <param-value>e:/Denis/GitHub/task04/recomendate.txt</param-value>
    </context-param>
  <servlet>
    <servlet-name>startformServlet</servlet-name>
    <servlet-class>com.trainingcenter.servlets.StartformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>startformServlet</servlet-name>
    <url-pattern>/startform.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createLetterHTML</servlet-name>
    <servlet-class>com.trainingcenter.servlets.CreateLetterHTML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createLetterHTML</servlet-name>
    <url-pattern>/createLetterHTML.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createLetterArchive</servlet-name>
    <servlet-class>com.trainingcenter.servlets.CreateLetterArchive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createLetterArchive</servlet-name>
    <url-pattern>/createLetterArchive.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>startServlet</servlet-name>
    <servlet-class>com.trainingcenter.servlets.StartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>startServlet</servlet-name>
    <url-pattern>/startServlet.html</url-pattern>
  </servlet-mapping>
</web-app>